<aside class="sidebar">

    <h5 class="sidebar-title">
        Administration
    </h5>

    <ul class="sidebar-menu">

        <li>
            <a href="{% url 'menu_management' %}">
                🍽 Gestion des menus
            </a>
        </li>

        <li>
            <a href="{% url 'admin_orders' %}">
                📦 Gestion commandes
            </a>
        </li>

        <li>
            <a href="{% url 'admin_reservations' %}">
                📅 Gestion réservations
            </a>
        </li>

        <li>
            <a href="{% url 'admin_payments' %}">
                💳 Gestion paiements
            </a>
        </li>

        <li>
            <a href="{% url 'dashboard' %}">
                📊 Statistiques
            </a>
        </li>

    </ul>

</aside>