<aside class="sidebar">

    <h5 class="sidebar-title">
        Espace Client
    </h5>

    <ul class="sidebar-menu">

        <li>
            <a href="{% url 'cart' %}">
                🛒 Panier
            </a>
        </li>

        <li>
            <a href="{% url 'order_list' %}">
                📦 Mes commandes
            </a>
        </li>

        <li>
            <a href="{% url 'reservation_list' %}">
                📅 Mes réservations
            </a>
        </li>

        <li>
            <a href="{% url 'reserve_table' %}">
                🍽 Réserver une table
            </a>
        </li>

        <li>
            <a href="{% url 'payment_history' %}">
                💳 Mes paiements
            </a>
        </li>

    </ul>

</aside>