<footer class="footer-foodcare"">

    <div class="container">

        <div class="row">

            <!-- COLONNE 1 -->
            <div class="col-md-4 mb-4">

                <h3 class="fw-bold">

                    FoodCare

                </h3>

                <p>

                    Plateforme moderne de restauration
                    spécialisée pour personnes diabétiques.

                </p>

            </div>

            <!-- COLONNE 2 -->
            <div class="col-md-4 mb-4">

                <h5 class="fw-bold">

                    Liens rapides

                </h5>

                <ul class="list-unstyled">

                    <li>
                        <a href="{% url 'home' %}"
                           class="text-decoration-none text-light">
                            Accueil
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'meal_list' %}"
                           class="text-decoration-none text-light">
                            Menus
                        </a>
                    </li>

                    <li>
                        <a href="#"
                           class="text-decoration-none text-light">
                            Contact
                        </a>
                    </li>
                    {% if user.is_staff %}

                        <li>

                            <a class="nav-link"
                                href="{% url 'dashboard' %}">

                                Dashboard

                            </a>

                        </li>

                    {% endif %}

                </ul>

            </div>

            <!-- COLONNE 3 -->
            <div class="col-md-4 mb-4">

                <h5 class="fw-bold">

                    Contact

                </h5>

                <p>
                    Douala - Cameroun
                </p>

                <p>
                    +237 6 XX XX XX XX
                </p>

            </div>

        </div>

        <hr>

        <div class="text-center">

            © 2026 FoodCare - Tous droits réservés

        </div>

    </div>

</footer>