<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm py-3">

    <div class="container">

        <!-- LOGO -->
        <a class="navbar-brand fw-bold fs-3" href="#">

            <i class="bi bi-heart-pulse-fill"></i>
            FoodCare

        </a>

        <!-- BOUTON MOBILE -->
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
        >

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- CONTENU NAVBAR -->
        <div
            class="collapse navbar-collapse"
            id="navbarContent"
        >

            <!-- MENU -->
            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item mx-2">
                    <a class="nav-link active" href="{% url 'home' %}">
                        Accueil
                    </a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'meal_list' %}">
                        Menus
                    </a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">
                        Recommandations
                    </a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" href="#">
                        Contact
                    </a>
                </li>

                <li class="nav-item mx-2">

                    <a class="nav-link position-relative"
                        href="{% url 'cart' %}">

                            🛒 Panier

                            {% if cart_count > 0 %}

                                <span class="badge rounded-pill bg-danger">

                                    {{ cart_count }}

                                </span>

                            {% endif %}

                    </a>

                </li>

                <li class="nav-item mx-2">

                    <a class="nav-link"
                        href="{% url 'order_list' %}">

                        📦 Mes commandes

                    </a>

                </li>

                <li class="nav-item mx-2">

                    <a class="nav-link"
                        href="{% url 'reserve_table' %}">

                            🍽 Réserver

                    </a>

                </li>

                <li class="nav-item mx-2">

                    <a class="nav-link"
                        href="{% url 'reservation_list' %}">

                        📅 Réservations

                    </a>

                </li>

                <!-- BOUTONS -->
                {% if user.is_authenticated %}

                    {% if user.is_staff %}

                        <li class="nav-item mx-2">

                            <a class="nav-link"
                                href="{% url 'dashboard' %}">

                                    📊 Dashboard

                            </a>

                        </li>

                        <li class="nav-item mx-2">

                            <a class="nav-link"
                                href="{% url 'admin_reservations' %}">

                                🪑 Gestion réservations

                            </a>

                        </li>

                    {% endif %}

                    <li class="nav-item mx-2">

                        <a class="nav-link"
                            href="{% url 'profile' %}">

                            Profil

                        </a>

                    </li>

                    <li class="nav-item mx-2">

                        <a class="nav-link"
                            href="#">

                            [{{ user.username }}]

                        </a>

                    </li>

                    <li class="nav-item ms-lg-3 mt-3 mt-lg-0">

                        <a href="{% url 'logout' %}"
                            class="btn btn-light text-success fw-bold px-4">

                                Déconnexion

                        </a>

                    </li>

                {% else %}

                    <li class="nav-item ms-lg-3 mt-3 mt-lg-0">

                        <a href="{% url 'login' %}"
                            class="btn btn-light text-success fw-bold px-4 me-2">

                            Connexion

                        </a>

                    </li>

                    <li class="nav-item mt-3 mt-lg-0">

                        <a href="{% url 'register' %}"
                            class="btn btn-outline-light fw-bold px-4">

                            Inscription

                        </a>

                    </li>

                {% endif %}

            </ul>

        </div>

    </div>

</nav>