{% extends 'auth_base.html' %}

{% block content %}

<section class="auth-section d-flex align-items-center">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-5 col-md-7">

                <div class="card border-0 shadow-lg p-5 auth-card">

                    <!-- TITRE -->
                    <div class="text-center mb-4">

                        <h2 class="fw-bold text-success">

                            Connexion

                        </h2>

                        <p class="text-muted">

                            Connectez-vous à votre espace FoodCare

                        </p>

                    </div>

                    <!-- FORMULAIRE -->
                    <form method="POST">

                        {% csrf_token %}

                        <!-- USERNAME -->
                        <div class="mb-3">

                            <label class="form-label">

                                Nom d'utilisateur

                            </label>

                            {{ form.username }}

                        </div>

                        <!-- PASSWORD -->
                        <div class="mb-4">

                            <label class="form-label">

                                Mot de passe

                            </label>

                            {{ form.password }}

                        </div>

                        <!-- BOUTON -->
                        <button
                            type="submit"
                            class="btn btn-success w-100 auth-btn">

                            Se connecter

                        </button>

                    </form>

                    <!-- LIEN REGISTER -->
                    <div class="text-center mt-4">

                        <p class="mb-0">

                            Vous n'avez pas encore de compte ?

                            <a href="{% url 'register' %}"
                               class="text-success fw-bold text-decoration-none">

                                S'inscrire

                            </a>

                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}