{% extends 'base.html' %}

{% block content %}

<section class="py-5">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-6">

                <div class="card shadow border-0 p-5">

                    <h2 class="text-center text-success mb-4">

                        Créer un compte

                    </h2>

                    <form method="POST">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <button
                            type="submit"
                            class="btn btn-success w-100">

                            S'inscrire

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}