{% extends 'base.html' %}

{% block content %}

<section class="py-5 bg-light min-vh-100">

    <div class="container">

        <h1 class="fw-bold text-success mb-5">

            Gestion des réservations

        </h1>

        <div class="card border-0 shadow p-4">

            <div class="table-responsive">

                <table class="table align-middle">

                    <thead>

                        <tr>

                            <th>ID</th>
                            <th>Client</th>
                            <th>Date</th>
                            <th>Heure</th>
                            <th>Places</th>
                            <th>Statut</th>
                            <th>Action</th>     

                        </tr>

                    </thead>

                    <tbody>

                        {% for reservation in reservations %}

                            <tr>

                                <td>

                                    #{{ reservation.id }}

                                </td>

                                <td>

                                    {{ reservation.user.username }}

                                </td>

                                <td>

                                    {{ reservation.reservation_date }}

                                </td>

                                <td>

                                    {{ reservation.reservation_time }}

                                </td>

                                <td>

                                    {{ reservation.number_of_guests }}

                                </td>

                                <td>

                                    {{ reservation.get_status_display }}

                                </td>

                                <td>

                                    {% if reservation.status != 'completed' and reservation.status != 'cancelled' %}

                                        <a href="{% url 'reservation_update' reservation.id %}"
                                            class="btn btn-warning btn-sm">

                                            Modifier

                                        </a>

                                    {% else %}

                                        

                                            -      -

                                

                                    {% endif %}

                                </td>

                            </tr>

                        {% endfor %}

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</section>

{% endblock %}